<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>hyper.ly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Alef' rel='stylesheet' type='text/css'>
    <link href="{{ settings.STATIC_URL }}/css/foundation.min.css" rel="stylesheet">
    <link href="{{ settings.STATIC_URL }}/css/app.css" rel="stylesheet">
  </head>
  <bod>
    <div class="row">
      <div class="twelve columns">
	<h1>hyper.ly</h1>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
	  <input type="text" name="url" value="{{ short_url }}"/>
	</form>
      </div>
    </div>
  </body>
</html>
