@font-face
{
    font-family: LeagueGothic;
    src: url('leaguegothic-regular-webfont.ttf');
} 
@font-face
{
    font-family: LeagueGothicCondensed;
    src: url('leaguegothic-condensed-regular-webfont.ttf');
} 

body {
    font-family: Alef, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: LeagueGothic, 'Arial Black', Impact, sans;
    font-weight: normal;
}
